.idea
*.iml
/backend/src/main/resources/static/assets/
/backend/src/main/resources/static/assets/index-7345f590.css
/backend/src/main/resources/static/assets/index-f55546dd.js
/backend/src/main/resources/static/index.html
/backend/src/main/resources/static/
/backend/src/main/resources/static/assets/
