
*{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-image: url("./assets/todd-quackenbush-x5SRhkFajrA-unsplash.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    display: flex;
    justify-content: center;
    margin: 1em;
    background-color: wheat;
    width: 20em;
    padding: 0.5em;
}
article{
    border: 0.2em solid lime;
    background-color: darkslategrey;
    color: wheat;
    padding: 1em;
    margin: 1em;
    max-width: 20em;
}
.div_gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin: 0.5em;
    color: greenyellow;
    font-size: larger;
}
input{
    margin: 0.5em;
}
textarea{
    margin: 0.5em;
    width: 30em;
    height: 10em;
}
button{
    margin: 0.5em;
    padding: 0.5em;
    width: 10em;
    background: pink;
}
a{
    text-decoration: none;
    background: aqua;
    padding: 0.5em;
    border: 0.2em solid greenyellow;
    border-radius: 1em;
}